challenge/libc-2.31.so
challenge/names.txt
challenge/newspaper.txt
challenge/vuln
challenge/vuln.c

deploy/vuln

exploit/libc-docker.so
exploit/rand_replay.c
exploit/rand_replay.so
exploit/vuln

*.o
*.out
*.so
*.a
*.pyc
__pycache__/
*~
*.swp
*.log
